/* Resetowanie marginesów i paddingów */
body, h1, h2, p, ul, li, select {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Style nagłówka */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

header h1 {
    margin-bottom: 10px;
}

.header-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header-img {
    width: 60px; /* Szerokość obrazka */
    height: auto;
    margin: 0 10px; /* Odstęp między obrazkami */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


main section {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
